@model PizzeriaManagementApp.Models.Pizzeria

<div class="col-lg-4 col-md-6 pb-4 filter @Model.Address.Town.Replace(' ', '_')">
    <div class="card bg-white rounded shadow-sm text-center" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-12">
                <h2 class="text-primary">@Model.Name</h2>
            </div>
        </div>
        <div class="card-body p-1 row">
            <div class="col-6">
                <h4 class="badge p-2 border w-100" style="background-color:lavenderblush">
                    @($"{Model.Address.Street } {Model.Address.HouseNumber } {Model.Address.ApartmentNumber }")
                </h4>
            </div>
            <div class="col-6">
                <h4 class="badge p-2 border w-100" style="background-color:lavenderblush">
                    @($"{ Model.Address.PostalCode } { Model.Address.Town }")
                </h4>
            </div>
            <div class="col-12">
                <h4 class="badge p-2 border w-100" style="background-color:aliceblue">
                    Open hours: @(Model.OpenTime.ToString("HH:mm tt")+" - "+ Model.CloseTime.ToString("HH:mm tt"))
                </h4>
            </div>
            <div class="col-12">
                <a asp-action="Menu" asp-route-id="@Model.Id" class="btn btn-danger text-white form-control p-2" style="height:40px; cursor: pointer">
                    Show menu
                </a>
            </div>
        </div>
    </div>
</div>